<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="idApp">
        <p v-for="elemento in frutas">{{elemento.nombre}} - {{elemento.stock}} <span v-if="elemento.stock <= 0">sin
                stock</span>
            <button @click="elemento.stock++">Comprar</button>
            <button @click="elemento.stock--">Vender</button>
        </p>

        <br />
        <h1>ingreso frutas</h1>
        <label for="ingresoFruta">ingreso frutas</label>
        <input type="text" v-model="nuevaFruta" />
        <label for="">nueva cantidad</label>
        <input type="text" v-model="nuevaCantidad" />
        <button v-on:click="agregarFruta()">agregar</button>
        <br />
        <p>total: {{this.sumarFrutas}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/vue.js"></script>
</body>

</html>